<div class="container">
    <header>
        <div class="header-top">
            <img src="https://www.foodservicerewards.com/cdn/shop/t/262/assets/fsr-placeholder.png?v=45093109498714503231652397781" alt="logo" id="imagen">
            <div class="header-mid">
                <p class="header-date">TUESDAY, JUNE 11, 2019</p>
                <h1 class="header-title">SEA HARVEST</h1>
                <p class="header-subtitle">FRESH SEAFOOD MARKET</p>
            </div>
            <div>
                <p>BELCONNEN MARKETS</p>
                <p>FYSHWICK MARKETS</p>
            </div>
        </div>
    </header>
    <nav>
        <a href="#" class="active">ABOUT</a>
        <a href="#">PRODUCTS</a>
        <a href="#">CONTACT</a>
        <a href="#">ORDER</a>
    </nav>
    <main>
        <div class="card">
            <h2>WHOLE FISH</h2>
            <p>FISH MONGER'S CHOICE</p>
            <img src="https://i0.wp.com/blog.blueapron.com/wp-content/uploads/2023/02/Whole-Fish_Social_146-1.jpg?resize=620%2C620&ssl=1" alt="whole fish" width="350" height="400">
        </div>
        <div class="card">
            <h2>FILLET FISH</h2>
            <p>THE FRESHEST AVAILABLE</p>
            <img src="https://upload.wikimedia.org/wikipedia/commons/6/60/Pangasius_meat.jpg" alt="fillet fish" width="350" height="400">
        </div>
        <div class="card">
            <h2>SHELLFISH</h2>
            <p>FOR THE CONNOISSEUR</p>
            <img src="https://upload.wikimedia.org/wikipedia/commons/3/37/Oysters_p1040741.jpg" alt="shellfish" width="350" height="400">
        </div>
        <div class="card">
            <h2>SHRIMP</h2>
            <p>TINY AND GOOD</p>
            <img src="https://www.seafoodwatch.org/globalassets/sfw/images/fish/dynamic-tab/brown-shrimp-dynamic.png" alt="SHRIMP" width="350" height="400">
        </div>
        <div class="card">
            <h2>PRAWNS</h2>
            <p>THE HOLIDAY FAVOURITE</p>
            <img src="https://upload.wikimedia.org/wikipedia/commons/9/98/Penaeus_monodon.jpg" alt="prawns" width="350" height="400">
        </div>
        <div class="card">
            <h2>OYSTERS & MOLLUSCS</h2>
            <p>TASTE THE SEA</p>
            <img src="https://myfavouritepastime.com/wp-content/uploads/2016/01/pacific_oysters_01.jpg?w=640" alt="oysters and molluscs" width="350" height="400">
        </div>
    </main>
</div>
